<table id="summary_table_<%= id %>" class="table display cell-border compact">
    <thead>
    <tr>
        <th style="border-left: 1px solid; border-top: 1px solid"></th>
        <th style="border-left: 1px solid; border-top: 1px solid"></th>
        <th style="border-left: 1px solid; border-top: 1px solid"></th>
        <th style="border-left: 1px solid; border-top: 1px solid"></th>
        <th style="border-left: 1px solid; border-right: 1px solid; border-top: 1px solid"></th>
    </tr>
    </thead>
</table>