<div class="row">
    <div class="col-sm-12">
        <h1>About</h1>
        <p>
Biodiversity Audit II is an evidence-based and expert opinion assessment of WA's threatened flora and fauna, and threatened and priority ecological communities in each of the State’s 55 sub-bioregions, as defined in the Interim Biogeographic Regionalisation of Australia (IBRA).
</p>
<p>
The audit was undertaken during late 2012 and 2013 and presents a 'snap shot' in time of our knowledge of the condition of and threats to the State’s biodiversity and changes since Biodiversity Audit I was finalised in 2002. It also provides information on management strategies to address current pressures, and forecasts threats that could apply over the next 20 years.
</p>
<p>
A wide variety of information sources was used, including publications, corporate datasets, threatened species and ecological communities nomination forms, impact assessment documentation and the knowledge held by departmental staff and three external experts. Staff knowledge was collected through round-table and informal workshops, focussing on biodiversity assets at the IBRA sub-regional scale, and was not intended to be a formal ‘expert elicitation’ process.
</p>
<p>
The Biodiversity Audit II portal provides access to the information collected and provides the ability to search and analyse by trends at whole of State or subregional scales. Information can also be viewed for particular threatened species or ecological communities.
</p>
<p>
The assessment examined approximately 1,000 biodiversity assets, including 413 threatened flora, 215 threatened fauna and 360 threatened and priority ecological communities, across the 55 sub-bioregions. Information was collected on taxa and ecosystems that have at least part of the lifecycle or occurrence on land or in an aquatic (but not marine) environment, and occur within WA State boundaries.
</p>

<p>
Information in the database includes:
</p>
<ul>
<li>known number of populations of flora and fauna;</li>
<li>known number of evolutionary significant units (ESUs) for flora and fauna;</li>
<li>known number of occurrences of ecological communities;</li>
<li>known number of mature individuals for flora and fauna;</li>
<li>extent of occurrence for flora, fauna and ecological communities;</li>
<li>area of occupancy for flora, fauna and ecological communities; and</li>
<li>extent and severity of biotic and abiotic degradation for ecological communities.</li>
</ul>
<p>
The 'condition' of flora, fauna and ecological communities has been determined by considering this information. Trends in condition between 2002 and 2013 have been assessed as decreased, static, increased or unknown.
</p><p>
Threats or pressures on species and ecological communities were also considered, with consistent terminology used regardless of asset type. Past pressures, future threats and potential management actions were collated from staff discussions, often with reference to recovery plans. It is not an exhaustive list, but captures the most important threats to inform management options which are appropriate at both subregional and State scales.
</p><p>
The description and assessment of past pressures and future threats to biodiversity assets uses internationally accepted threat taxonomy developed by Salafsky et al. (2008) (full citation below) which were adapted for relevance to WA. Consistent terminology has been used for all biodiversity assets, seeking where possible to report the driver for direct threats (and in some cases also indirect threats), as well as the mechanisms. Past pressures are restricted to those which have been realised within the 10 years before the assessment (i.e. 2002/03 to 2012/13) whereas future threats are those which are likely or possible and include continuation of past pressures and any new or additional threats.
</p><p>
Consistent codes and categories were also used to describe potential management actions in the database:
</p>
<ul>
<li><strong>SC&nbsp;</strong> Science</li>
<li><strong>IN&nbsp;</strong> Inventory</li>
<li><strong>PD&nbsp;</strong> Population dynamics</li>
<li><strong>AU&nbsp;</strong> Autoecological</li>
<li><strong>QTP</strong> Quantifying threatening processes</li>
<li><strong>MA&nbsp;</strong> Mitigation and adaptation</li>
<li><strong>SR&nbsp;</strong> Socio-economic</li>
<li><strong>HD&nbsp;</strong> Hydrology</li>
<li><strong>OR&nbsp;</strong> Other research</li>
<li><strong>EV&nbsp;</strong> Evaluation</li>
<li><strong>CP&nbsp;</strong> Conservation plans</li>
<li><strong>MD&nbsp;</strong> Direct management</li>
<li><strong>MI&nbsp;</strong> Indirect management</li>
<li><strong>OT&nbsp;</strong> Other (not covered above)</li>
</ul>

<p>
Salafsky N., Salzer D., Stattersfield A.J., Hilton-Taylor C., Neugarten R., Butchart S.H., Collen B., Cox N., Master L.L., O'Connor S. and Wilkie D. (2008) A standard lexicon for biodiversity conservation: unified classifications of threats and actions. Conservation Biology 22(4): 897-911.
</p>

    </div>

</div>