<div class="row featurette" id="threats">
    <h2 class="featurette-heading">Data</h2>

    <p class="lead">Download the data for threatened taxa, communities and wetlands as Excel files.</p>


    <!-- Four columns of links to data -->
    <div class="row">
        <div class="col-lg-3">
            <img class="img-circle img140" alt="Threatened Fauna: Spinifex pigeons, photo (c) Peter Kendrick"
                 src="../images/pigeon.jpg">

            <h2>Fauna</h2>

            <p>Download Threatened Fauna data</p>


            <p><a class="btn btn-default" title="Download the data directly as MS Excel file"
                  href="<%= fauna_xlsm %>"
                  role="button">Download as Excel &raquo;</a></p>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3">
            <img class="img-circle img140" alt="Threatened Flora image"
                 title="Photo (c) FloraBase"
                 src="../images/flora.jpg">

            <h2>Flora</h2>

            <p>Download Threatened Flora data</p>

            <p><a class="btn btn-default"  title="Download the data directly as MS Excel file"
                  href="<%= flora_xlsm %>"
                  role="button">Download as Excel &raquo;</a></p>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3">
            <img class="img-circle img140" alt="Threatened Communities image" src="../images/tec.jpg">

            <h2>Communities</h2>

            <p>Download Threatened Communities data</p>

            <p><a class="btn btn-default" title="Download the data directly as MS Excel spreadsheets."
                  href="<%= communities_xlsm %>"
                  role="button">Download as Excel &raquo;</a></p>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-3">
            <img class="img-circle img140" alt="Threatened Wetlands image" src="../images/wet.jpg">

            <h2>Wetlands</h2>

            <p>Download Wetlands data</p>

            <p><a class="btn btn-default disabled"  title="Download the data directly as MS Excel file"
                  href="<%= wetlands_xlsm %>"
                  role="button">Download as Excel &raquo;</a></p>

        </div>
        <!-- /.col-lg-3 -->
    </div>

</div>
