<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="transparent" src="../images/lsd.jpg"
                         alt="Little Sandy Desert, photo (c) Paul Sheridan, pewtrusts.org">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Biodiversity Audit II</h1>
                            <h3>a snapshot of biodiversity knowledge, conservation priorities, research needs, management options</h3>
                            <!-- <p>making biodiversity asset trends and metrics available to decision makers</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <a href="#regions" title="Jump to section Regional Profiles">
            <img class="img-circle img140" src="../images/scientist.jpg"
                 alt="Photo (c) Stephen van Leeuwen"/>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="#assets">
            <img class="img-circle img140" src="../images/numbat.jpg"/>
        </a>
    </div>
    <div class="col-sm-4 text-center">
        <a href="#tnm" title="Jump to section Trends & Metrics">
            <img class="img-circle img140" src="../images/green_hatchling_crop.jpg"
                 alt="Strategic questions about threats and trends. Image (c) Florian Mayer"/>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <h2>Regional Profiles</h2>
        <p>Explore biodiversity characteristics of IBRA subregions of Western Australia.</p>
    </div>
    <div class="col-sm-4 text-center">
        <h2>Biodiversity Assets</h2>
        <p>View threats and management options for threatened species or ecological communities in any IBRA subregion.</p>
    </div>
    <div class="col-sm-4 text-center">
        <h2>Trends and Metrics</h2>
        <p>Explore the status and trends of biodiversity assets.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-4 text-center">
        <a class="btn btn-default" href="#regions" role="button"
           title="Jump to section Regional Profiles">Explore &raquo;</a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-default" href="#assets" role="button">Explore &raquo;</a>
    </div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-default" href="#tnm" role="button"
           title="Jump to section Trends & Metrics">Explore &raquo;</a>
    </div>
</div>
