<div class="row featurette" id="regional">

    <div class="col-md-7">
        <h2 class="featurette-heading">Subregional profiles <span class="text-muted"></span></h2>

        <p class="lead">Explore the biodiversity status of terrestrial bioregions.</p>
        <p>Terrestrial biodiversity assets are summarised by IBRA subregions and state-wide level.</p>
        <p>Click any subregion or the <b>Western Australia</b> link to interactively explore the status, condition, trends and metrics of threatened species and threatened and priority communities</p>
    </div>
    <div class="col-md-5">
        <div class="map" id="map"></div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div id="region_content"></div>
    </div>
</div>
