<div class="row featurette" id="regional">

    <div class="col-md-12">
        <h2 class="featurette-heading">Species <span class="text-muted"></span></h2>

        <h4>Search for a species (taxon) by starting to type in the box below. </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="ui-widget">
            <label for="species_input">Species: </label>
            <input id="species_input">
        </div>
    </div>
</div>

<div id="taxonTab">
    <div class="row vspacer-50"></div>
    <div class="row">
        <div class="col-md12">
            <div id="summary_content">
            </div>
        </div>
        <div class="row">
            <div class="col-md12">
                <div id="details_content">
                </div>
            </div>
        </div>
    </div>
</div>


