<h2 class="featurette-heading">Trends &amp; Metrics <span class="text-muted"></span></h2>
`
<p class="lead">Explore trends and metrics of biodiversity assets.</p>
<!--<p>This section answers <a target="_" title="Open questions in a new tab"-->
<!--href="https://data.dpaw.wa.gov.au/dataset/c8ad25ff-69dc-4d13-ac32-60c9b99548ee/resource/f64cc2d0-ba5f-48dd-87d9-467d766154d6/download/Biodiversity-Audit-II-State-and-subregion-analysis-questions-consolidate-4-December-2014.pdf">frequently asked management questions</a>.-->
<!--</p>-->

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingQ71">
            <h4 class="panel-title">
                <a class="question" data-toggle="collapse" data-parent="#accordion" href="#Q71"
                   aria-expanded="false"
                   aria-controls="collapseQ71">
                    What are the dominant past pressures that have affected threatened species by taxonomic group.
                </a>
                <small class="pull-right text-muted">Q71</small>
            </h4>
        </div>
        <div id="Q71" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ71">
            <div class="panel-body">

                <h3>Fauna</h3>

                <p class="jql">Type any IBRA subregion code into the search to narrow down results.</p>

                <div class="answer" id="q71_fauna">
                    <table id="table_q71_fauna" class="table table-striped table-bordered"></table>
                </div>

                <h3>Flora</h3>

                <p class="jql">Type any IBRA subregion code, scientific or common name into the search to narrow down
                    results.</p>

                <div class="answer" id="q71_flora">
                    <table id="table_q71_flora" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingQ70">
            <h4 class="panel-title">
                <a class="question" data-toggle="collapse" data-parent="#accordion" href="#Q70"
                   aria-expanded="false"
                   aria-controls="collapseQ70">
                    What are the dominant population trends by taxonomic group.
                </a>
                <small class="pull-right text-muted">Q70</small>
            </h4>
        </div>
        <div id="Q70" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingQ70">
            <div class="panel-body">

                <h3>Fauna</h3>

                <p class="jql">Type any IBRA subregion code into the search to narrow down results.</p>

                <div class="answer" id="q70_fauna">
                    <table id="table_q70_fauna" class="table table-striped table-bordered"></table>
                </div>

                <h3>Flora</h3>

                <p class="jql">Type any IBRA subregion code, scientific or common name into the search to narrow down
                    results.</p>

                <div class="answer" id="q70_flora">
                    <table id="table_q70_flora" class="table table-striped table-bordered"></table>
                </div>
            </div>
        </div>
    </div>
</div>
